@font-face {
    font-family: header;
    src: url(../../../public/fonts/Jost-VariableFont_wght.ttf);
}

.loading {
    letter-spacing: .05rem;
    font-family: header;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 2.5rem;
    /* z-index:1; */
    width:100vw;
    font-weight:700;

    text-align: center;

    font-style: italic;
    transform: translateY(20%);
    opacity: 1;
    font-weight: 500;
    
}


.header {
    letter-spacing: .05rem;
    font-family: header;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 2.5rem;

    font-weight:700;
    /* padding-top: 3vh;
    padding-bottom: 3vh; */
    text-align: center;
    font-style: italic;
    /* transform: translateY(0%);
    opacity: 1;
    font-weight: 450; */
    
}

.finished {
    animation: load-in 1s linear;
    animation-fill-mode:forwards;
}

.flagHeader {
    
    border: 2px solid black;
    border-radius: 0.2rem;
    width: 100%;
    object-fit: contain;
    color:crimson;
    font-weight: bolder;
}

@keyframes load-in {
    0% {
        transform: translateY(20%);
        opacity: 0;
        font-weight: 100;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        font-weight: 450;
    }
}