
@media screen and (max-aspect-ratio: 3/4) {
  .main-search-title {
    font-size: 1srem;
    color: red;
  }
}

.main-search::before {
  content: "";
  position: absolute;
  opacity: 0.95;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../public/rainforest.png)
}

.main-search { /* contains the header as well */ 
    position: relative;
    
    height:100vh;
    width:100%;
    
    
  
  }
  
  .main-search-title, .main-search-text, .main-search-bar {
    position:absolute;
    /* min-width: 100px;
    min-height: 100px;
    max-width: 300px; */
  }
  .main-search-title {
    top:25%;
    transform: translateY(-50%);
    left:7%;
    font-size: min(10vh, 12vw);
    color:whitesmoke;
    
  }
  .main-search-text {
    bottom: 40%;
    left:7%;
    transform: translateY(50%);
    font-size:max(2.5vw, 2rem);
    max-width: 50vw;
    color:honeydew;
    padding:1vh;
    border-radius: 5px;
    background-color: #5DBB63;
    box-shadow: -1vh 1vh rgba(43, 206, 149, 0.8);
  }
  
  .main-search-bar-input {
    resize:vertical;
    display:block;
    font-size: max(1.0vw, 0.5rem);
    width: 30vw;
    position: relative;
    padding:0.1rem;
    box-sizing: border-box;
  }

  .main-search-bar {
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
    right: 3%;
    top: 40%;
    transform: translateY(-50%);
    max-width: 30vw;
    
    
  }

.listOfLocations:empty {
  visibility:hidden;
  height: 1vh;
}

.listOfLocations {
  border-radius: .20rem;
  max-width: 30vw;
  height: max-content;
  max-height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
}
.listOfLocations li {
  text-align: center;
  border-bottom:2px solid rgb(0, 255, 166);
  max-width: 100%;
  min-height: 1.1rem;
  padding: 0.2rem;
  background-color: rgb(40, 184, 134);
  transition: 0.3s;
}

.listOfLocations li:hover {
  transition: 0.3s;
  background-color: black;
  color:white;
  cursor:pointer;
}
/* CSS */
.main-search-bar-button {
  
  padding: 1rem;
  background-color: rgb(43, 206, 149);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgb(0, 255, 166) 0 1px 3px 0;
  
  color: #fff;
  cursor: pointer;
  
  font-size: max(2.5vw, 2.0vh);
  font-weight: 600;
  
  margin: 0;

  text-decoration: none;
  transition: all 250ms;

  width: auto;
}

.main-search-bar-button:hover,
.main-search-bar-button:focus {
  background-color:rgb(115, 215, 180);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.main-search-bar-button:hover {
  transform: translateY(-1px);
}

.main-search-bar-button:active {
  background-color: rgb(115, 215, 180);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}