
#locationsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.city {
    width:20vw;
    height:50vh;
    border: 2px solid bisque;
    margin-bottom: 4vw;
    position: relative;
}

#inputArea {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display:flex;
    justify-content: center;
}

#locationInput {
    width:50vw;
}